<footer class="stanford-footer">
  <div class="stanford-footer-inner" title="Common Stanford resources">

    <div class="stanford-footer-brand">
      <a class="stanford-footer-logo" href="https://www.stanford.edu" target="_blank" rel="noopener">
        Stanford<br>University
      </a>
    </div>

    <div class="stanford-footer-links">
      <nav aria-label="global footer menu" class="stanford-footer-nav">

        <ul class="stanford-footer-list stanford-footer-list-primary">
          <li><a href="https://www.stanford.edu" target="_blank" rel="noopener">Stanford Home</a></li>
          <li><a href="https://visit.stanford.edu/plan/" target="_blank" rel="noopener">Maps &amp; Directions</a></li>
          <li><a href="https://www.stanford.edu/search/" target="_blank" rel="noopener">Search Stanford</a></li>
          <li><a href="https://emergency.stanford.edu" target="_blank" rel="noopener">Emergency Info</a></li>
        </ul>

        <ul class="stanford-footer-list stanford-footer-list-secondary">
          <li><a href="https://www.stanford.edu/site/terms/" target="_blank" rel="noopener">Terms of Use</a></li>
          <li><a href="https://www.stanford.edu/site/privacy/" target="_blank" rel="noopener">Privacy</a></li>
          <li><a href="https://uit.stanford.edu/security/copyright-infringement" target="_blank" rel="noopener">Copyright</a></li>
          <li><a href="https://adminguide.stanford.edu/chapter-1/subchapter-5/policy-1-5-4" target="_blank" rel="noopener">Trademarks</a></li>
          <li><a href="https://studentservices.stanford.edu/more-resources/student-policies/non-academic/non-discrimination" target="_blank" rel="noopener">Non-Discrimination</a></li>
          <li><a href="https://www.stanford.edu/site/accessibility" target="_blank" rel="noopener">Accessibility</a></li>
        </ul>

      </nav>

      <div class="stanford-footer-copy">
        <span>© Stanford University.</span>
        <span>&nbsp; Stanford, California 94305.</span>
      </div>
    </div>

  </div>
</footer>
